# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.fdb_latexmk
*.fls
*.fmt
*.idx
*.ilg
*.ind
*.log
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.upa
*.upb
*.brf
*.thm
*.bbl
*.blg
*.nav
*.snm
video_script.md
*.gitignoredata/
